// Landing page
.landing {
    padding-top: 30vh;
}

// General
.container {
    transform: scale(0.75);
    transition: transform 0.5s ease-in-out;

    @include breakpoint(medium) {
        transform: scale(0.6);
    }

    &.zoomed {
        transform: scale(1);
    }
}

// Demo page
.demo-sprite, .demo-video {
    padding-top: 10vh;
}

// Sprite
.sprite {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
        margin-bottom: 50px;
    }

    &:hover {
        .sprite-title {
            top: 0;
            opacity: 1;
        }
    }
}

.sprite-title {
    position: relative;
    text-align: center;
    top: -20px;
    opacity: 0;
    width: 100%;
    transition: opacity 0.5s, top 0.5s;
}

#sprite-knight {
    width: 83px;
    height: 100px;

    @include breakpoint(medium) {
        width: 249px;
        height: 300px;
    }
}

#sprite-robot {
    width: 102px;
    height: 100px;

    @include breakpoint(medium) {
        width: 306px;
        height: 300px;
    }
}

#sprite-ninja {
    width: 79px;
    height: 100px;

    @include breakpoint(medium) {
        width: 238px;
        height: 300px;
    }
}

.demo {
    background-color: $medium-gray;
    height: 50px;
}
